// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

body {
    font-family: "Exo 2", sans-serif;
}

input::placeholder {
    color: var(--bs-gray-500) !important;
    opacity: 1 !important;
}

input:-ms-input-placeholder,
input::-ms-input-placeholder {
    color: white !important;
}

.btn-racecard:hover {
    background-color: var(--bs-secondary) !important;
    color: white !important;
    border: 1px solid var(--bs-secondary) !important;
}
